/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-image: url('img/opbackground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh; /* Use min-height to cover at least the viewport height */
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -5;
}

#container {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('img/tmlbu5lfwq941.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;

    background-color: #33333350;
}
nav {
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222; /* Darker background color */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow for depth */
}

.nav-links {
    display: flex;
}

nav a {
    color: #ddd; /* Lighter text color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

#rightNav{

}

nav.img{
    width: 20%;
    height: 100%;
}
img{
    width: 20%;
}
#logoutButton, a[href="welcome"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Add some space between buttons */
}

#logoutButton:hover, a[href="welcome"]:hover {
    background-color: #45a049;
}



button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

header {
    color: white;
}

#overview h2 {
    /* Add styles for h2 within #overview */
}

#overview p {
    /* Add styles for p within #overview */
}



footer {
    background-color: #333;
    width: 100%;

    color: white;
    text-align: center;
    padding: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}




/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }