/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('./img/opbackground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -5;
}

h1, form {
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    color: white;
}

form {
    max-width: 600px;
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

p {
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

#createprofile {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createprofile:hover {
    background-color: #45a049;
}

img {
    z-index: 2;
    max-width: 300px;
    max-height: auto;
}
